<div style="width: 500px; height: 500px;margin:auto;">
  <form [formGroup]="userForm" (submit)="LoginUser()">

    <div class="container">
      <label for="username"><b>Username</b></label>
      <input class="username" type="text" placeholder="Enter Username" formControlName="username" id="username">

      <label for="password"><b>Password</b></label>
      <input class="password" type="password" placeholder="Enter Password" formControlName="password" id="password">

      <button type="submit" [disabled]="!userForm.valid">Login</button>
    </div>

  </form>
</div>