<div style="margin: auto;flex-flow: wrap;display: flex;">
  <ng-container *ngFor="let photo of photos;let i=index;">
    <img id="image_{{i}}" width="300" height="200" class="image-flex" [routerLink]="['/images', i]"
      [ngClass]="{'imageborder':clickIndex==i}" (click)="clickIndex=i;"
      src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg">
  </ng-container>
</div>